@media (max-width: 450px)
  body
    font-size: 13px
  #portfolio
    .container
      #portfolio-base
        .portfolio-item
          .text
            padding: 18% 0 0 0
  #status
    .container
      .box
        h2
          line-height: 4.7
      .text
        margin-top: 15px
        font-size: 1.1em

  #contact
    #toaster
      text-align: center
      width: auto
      left: 20px
      right: 20px
