@media (max-width: 576px)
  body
    font-size: 14px
  #skills
    .container
      .skills-bars
        .sect
          padding: 0 15px
          &.designing
            margin-bottom: 40px
            text-align: left
            .c
              left: 0
  #portfolio
    .container
      #portfolio-base
        .portfolio-item
          margin-left: 8.333333%
