section#about.gery
  .container
    .row
      .col-md-7.text
        h1 Hamza Iqbal
        h6 UI / UX / Web Designer / Full Stack Web Developer from Karachi, Pakistan
        p.lead
          b Asalam u Alikum. 
          | I’m Hamza 18 years old from Karachi.
          br
          | I'm self learner and tody whaterver i know regarding my work as well as my knowledge is my own hardwork. I'm a self made person at age of 18. I'm very passionate for being web developer. I love to go through new things and inventions and thats what keep me up to date with new technologies. 
        p
          //- | My skills are not limited to development, First of all I love Sufi music. I like watching movies, Animes and playing Counter Strike 1.6. I spend quite a lot of time in Coding web apps and also Keeps learning new things in programming to keep my self upto date with new technologies. And sometimes i love speeding bike.
          | Besides all technical stuff, some of my hobbies include watching movies & animes, love to listen sufi music. I'm a kinda foodie who prefer taste over health (Bad Habbit). At last but not the lease i love to ride my bike at max speed (Very Bad Habbit) and go with the flow of air.
        p
          | I'm currently work as Junior Software Engineer at FetchSky.
      .col-md-5
        .profile
          img(src="https://graph.facebook.com/100005083204093/picture?width=400")
