section#home
  .header-bg.layer
  #p-layer-1.layer-2.layer.blub
  #p-layer-2.layer-3.layer.blub
  .container
    .row.heading
      .col-sm-12.g
        h1 Hamza Iqbal
    .row.desc
      .col-sm-12.g
        h1 Full Stack Web Developer
      .col-sm-12.g
        h4 I make end to end website with creative UI & best UX
