section#home
  .header-bg.layer
  #p-layer-1.layer-2.layer.blub
  #p-layer-2.layer-3.layer.blub
  .container
    .row.heading
      .col-sm-12.g
        h1 Hamza Iqbal
    .row.desc
      .col-sm-12.g
        h1 UI/UX Expert
      .col-sm-12.g
        h4 I make creative user interface and experiece.
