section#nav
  input#navbar(type="checkbox")
  label(for="navbar")
    .nav-button
      .bars
        .bar
        .bar
        .bar
        .bar
  .navbar
    .container
      .row
        ul.menu
          li.menu-item
            a(href="#home")
              h1 home
                .bg
          li.menu-item
            a(href="#about")
              h1 about
                .bg
          li.menu-item
            a(href="#skills")
              h1 skills
                .bg
          li.menu-item
            a(href="#portfolio")
              h1 portfolio
                .bg
          li.menu-item
            a(href="#contact")
              h1 contact
                .bg
