section#skills.desc.dark
  .container
    .row.text-center
      .col-lg-12
        h1 Skills & Expertise
        h5 I can say i'm quite good at
      .col-lg-12.zer0
        .row.skills-bars
          .col-sm-6.sect.designing
            h3 Designing
            div.skill
              .text UI/UX
              .row.bar
                .col-12.c
            div.skill
              .text Responsive Web Design
              .row.bar
                .col-11.c
            div.skill
              .text Web Animations
              .row.bar
                .col-10.c
            div.skill
              .text Web Optimization
              .row.bar
                .col-9.c
            div.skill
              .text Photoshop
              .row.bar
                .col-8.c
          .col-sm-6.sect.development
            h3 Development
            div.skill
              .text HTML / CSS / Jade / Sass
              .row.bar
                .col-12.c
            div.skill
              .text JavaScript / Coffescript / ES6
              .row.bar
                .col-11.c
            div.skill
              .text JQuery / AngularJS / ReactJS
              .row.bar
                .col-10.c
            div.skill
              .text PHP / NodeJS / ExpressJS
              .row.bar
                .col-9.c
            div.skill
              .text MYSQL / Firebase / MongoDB
              .row.bar
                .col-8.c
