section#status.desc.dark
  .container
    .row.text-center
      .col-lg-12
        h1 My Status
      .col-sm-6.col-md-3.box-base
        .box
          h2 8
        .text Completed projects
      .col-sm-6.col-md-3.box-base
        .box
          h2 200+
        .text Cups of tea
      .col-sm-6.col-md-3.box-base
        .box
          h2 3
        .text Years of experience
      .col-sm-6.col-md-3.box-base
        .box
          h2 500+
        .text Hours spended
